<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="SCAData.Properties.Settings.SiteSqlServer" connectionString="Data Source=jeff-pc\sqlexpress;Initial Catalog=DotNetNuke;Persist Security Info=True;User ID=dnn_web" providerName="System.Data.SqlClient" />
    <add name="SCAData.Properties.Settings.DotNetNukeConnectionString" connectionString="Data Source=JEFF-PC\SQLExpress;Initial Catalog=DotNetNuke;Integrated Security=True" providerName="System.Data.SqlClient" /><add name="ScaOpEntities" connectionString="metadata=res://*/ScaOpData.csdl|res://*/ScaOpData.ssdl|res://*/ScaOpData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=jeff-pc\sqlexpress;Initial Catalog=DotNetNuke;Persist Security Info=True;User ID=dnn_web;Password=dnn_web;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>